.button {
    width: 199px;
    height: 60px;
    background-color: #252c41;
    color: #fff;
    font-family: Arial, "Roboto", sans-serif; 
    font-size: 20px;
    border:unset;
    display: inline-block;
    margin: 0;
    text-align: center;
    line-height: 60px;
}